.faq__hero {
  height: 435px;
  background-image: url('./img/faq.png');
  background-position: center;
  background-size: cover;
  background-clip: content-box;
  background-repeat: no-repeat;
}

.faq__wrapper {
  padding-top: 100px;
}

.faq__title {
  font-family: Lora;
  font-size: 56px;
  font-weight: 500;
  line-height: 67.2px;
  text-align: left;
}

.texts__box h3 {
  font-family: Heebo;
  font-size: 19.2px;
  font-weight: 700;
  line-height: 26.88px;
}

.texts__box p {
  font-family: Heebo;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}