.foot_hero {
  padding-top: 150px;
  height: 500px;
  background-image: url('./img/Foot.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.footiss__title {
  color: black;
  font-family: Lora;
  font-size: 56px;
  font-weight: 500;
  line-height: 67.2px;
  text-align: left;
}