.Cantact__h2 {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.81px;
}

.Cantact__p {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    letter-spacing: 0.005em;
}

.your__name {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}

.your__input {
    width: 602px;
    height: 48px;
    padding: 12px 16px 12px 16px;
    gap: 8px;
    border-radius: 5px;
    border: 1px solid;
    opacity: 0px;
    display: flex;
    gap: 200px;
    color: #000;
}

.your__input::placeholder {
    color: #000;
}

.Cantac__span {
    display: flex;
    gap: 20px;
    padding-left: 360px;
    padding-top: 20px;
}

.Cantac__span li {
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.77px;
    display: flex;
    align-items: center;
}

.Cantact__button {
    background-color: #3585F9;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: #fff;
}